---
layout: default
---
<div id="post">
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date_to_string }}</p>
	{{ content }}

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone></g:plusone>

</div>


{% if site.related_posts != empty %}
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> <span class="seperator">~</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}



<div class="ads">
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Leaderboard -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3092587044574000"
         data-ad-slot="3996431372"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="comments">
	<h3>Comments</h3>
	<noscript>Please enable JavaScript to view the comments</noscript>
	<div id="disqus_thread"></div>
</div>
<script type="text/javascript">
    var disqus_shortname = 'rogchap'; 
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
